<!-- Contact batch email -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<section class="banner-section" style="background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;">
</section>
<section class="post-content-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

        <h1 class="text-center">  <%= @title %> </h1>
        <ul class="list-inline text-center">
          <li>{{data.note_1}}</li>

        </ul>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">
        <p class="lead"style="margin-top: 25px;">Queremos que sepas lo importante que eres para nosotros, te invitamos para que leas esta y muchas mas noticias de descuentos y promociones que tenemos para tí.</p>

        <p> <%= @bodyone %> </p>
        <blockquote>
          <p> <%= @note_1 %> note_1</p>
          <footer>Administrador del sitio <cite title="Source Title">JB</cite></footer>
        </blockquote>
        <p class="lead"style="margin-top: 25px;"><%= @subtitle %> </p>
        <p><%= @bodytwho %> </p>

        <div class="image-block">
          <img  class="img-responsive">
        </div>
        <p class="lead"style="margin-top: 25px;"><%= @subtitletwo %> </p>
        <p><%= @bodythree %> </p>
        <blockquote>
          <p><%= @note_2 %> </p>

        </blockquote>

        <div class="image-block">
          <img class="img-responsive">
        </div>

        <p>Gracias por leernos, enteraté de más noticias en aquí.</p>

      </div>
    </div>


  </div> <!-- /container -->
</section>
</body>
</html>